{% extends 'base.html' %}
{% block title %}Choice{% endblock %}

{% block main %}

    {% for facility in facilities %}
        {% if loop.index is not divisibleby 2 %}
            <div class="row mb-2">
        {% endif %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% if facility['criticality_category'] is none %}
                            <strong class="d-inline-block mb-2 text-primary">Не перевірено</strong>
                        {% else %}
                            <strong class="d-inline-block mb-2 text-success">Перевірено</strong>
                        {% endif %}
                        <h3 class="mb-0">{{ facility['name'] }}</h3>
                        <div class="mb-1 text-muted">Дата перевірки: {{ facility['check_date'] if facility['check_date'] else "..."  }}</div>
                        <p class="card-text mb-auto">{{ facility['description']  }}</p>
                        <a href="{{ url_for('calc.detail_info', id=facility['id']) }}" class="stretched-link">Читати далі...</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{ info[loop.index|string]['img'] }}" data-holder-rendered="true">
                    </div>
                </div>
            </div>
        {% if loop.index is divisibleby 2 %}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}